<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/57094412_645968735841493_1499808661436891136_o.jpg?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_ohc=7zQjM6i8tGEAX-xfEe1&_nc_oc=AQmtHIz9zN1eMpFnM2WjZsO0H8MjzjwgKiucX2e7kmUEwlwRqH2XVOYWEgXr0aBIQTiirJNy29CQHpVRMYgxwHon&_nc_ht=scontent.fdad3-1.fna&oh=c32b74f18b55a410f9a496330a4abcb7&oe=603260B8" class="user-avatar" alt="avatar">
            Nguyễn Minh
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
              <a class="dropdown-item" href="/me/stored/posts">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>